<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDgTlDmDKh2CFHaUaSeyMTeEGFEZIdqgc</string>
	<key>GCM_SENDER_ID</key>
	<string>990019236770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Danyah.firebasetrial</string>
	<key>PROJECT_ID</key>
	<string>fir-trial-b1f1f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-trial-b1f1f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990019236770:ios:82b4013e418ac943a6f8fb</string>
</dict>
</plist>